
    <div class="border rounded p-4 my-4">
    <div class="mb-3">
      <%= form_with model: @task do |f| %>
      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control", placeholder: "Name your task" %>
      </div>

      <div class="mb-3">
        <%= f.label :details, class: "form-label" %>
        <%= f.text_field :details, class: "form-control", placeholder: "Write the details of your task" %>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div>
          <%= f.label :completed, class: "form-label" %>
          <%= f.check_box :completed %>
        </div>
          <%= f.submit @task.new_record? ? "Create Task" : "Update Task", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>

    <%= link_to tasks_path do %>
      <i class="fa-solid fa-arrow-rotate-left"></i>
      Back to list
    <% end %>

</div>
